body{
  text-align: center;
}

.btn{
  width: 200px;
  height: 200px;
  border-radius: 20%;
  border: 9px solid black;
  margin: 2rem;
}

.btn-container{
  display: flex;
  justify-content: center;
}

.red{
  background-color: rgb(255, 17, 17);
}
.green{
  background-color: rgb(87, 157, 89);
}
.blue{
  background-color: rgb(38, 137, 207);
}
.purple{
  background-color: rgb(224, 57, 224);
}

.flash{
  background-color: white;
}

.userflash{
  background-color: rgb(139, 227, 139);
}